---
import type { MarkdownHeading } from "astro";
import Profile from "./Profile.astro";
import Advertisement from "./Advertisement.astro";
import MusicPlayer from "./MusicPlayer.svelte";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-2 mb-4">
        <Profile></Profile>
        <MusicPlayer client:load></MusicPlayer>
        <Advertisement></Advertisement>
    </div>
</div>
